<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Why this website? | <%= yield(:title) %></title>
  </head>
  <body>
<h1>About This Page</h1>
<p>
This page is meant as a protest for Twitter deciding to conform to authoritarian regimes censorship methods.  As such, it shows people in the US and abroad how to circumvent various censorship measures.</p>
</body>
</html>