<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>In time there will be added help documents and videos here that will allow you to view how to encrypt e-mail, use ssh, and basic security for your browser to prevent hacking, exploits, and enhance overall security.</p>
